.traffic-light {
    background: #1f1f1f;
    height: 148px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 5px #636363 solid;
    margin: 0 auto;
}

#hand-emoji {
    transform: rotate(180deg);
    font-size: 50px;
}

#button-emoji {
    font-size: 50px;
}

.push {
    transform: rotateX(300deg) translate3d(0px, 0px, 50px);
}

.btn-close {
    display: none;
}

.progress-stacked {
    margin-top: 5%;
}

.center {
    margin: 0 auto;
}